services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - monitoring
    restart: unless-stopped

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - monitoring
    restart: unless-stopped

  ping-exporter:
    build: ./ping-exporter
    container_name: ping-exporter
    ports:
      - "8000:8000"
    networks:
      - monitoring
    restart: unless-stopped

networks:
  monitoring:
    driver: bridge
